<div class="container mt">
    <button routerLink="/designations" class="back-button"><i class="fas fa-arrow-left"></i></button> <!-- Back button -->
    <h1 style="color: rgb(0, 0, 159);"><i class="fa fa-tags" aria-hidden="true"></i> Create Designation</h1>
    <hr style="background-color: rgb(0, 0, 159); height: 2px">
    <h1 style="color: rgb(0, 0, 159);">Enter Designation</h1>
    <form [formGroup]="form" (ngSubmit)="formSubmit()">
    <div class="card card-default">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Name</label>
                        <input class="form-control" type="text" formControlName="name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Categories</label>
                        <div class="form-group">
                            <select class="form-control select2" style="width: 100%;" formControlName="category">
                                <option selected="selected">---</option>
                                <option *ngFor="let c of categor" value="{{c.id}}" >{{c.name}}</option>
                               
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Notes</label>
                    <textarea id="notes" class="form-control" rows="4" placeholder="Enter detailed notes here..." formControlName="description"></textarea>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>&nbsp;</label>
                    <input type="submit" class="btn btn-primary form-control rounded-pill" value="Save">
                </div>
            </div>
        </div>
    </div>
    </form>
</div>