
<!-- Small Box (Stat card) -->

<h2><i class="new-icon fas fa-th"></i>Dashboard</h2>
<div class="row">
  <div class="col-lg-3 col-8">
    <!-- small card -->
    <div class="small-box bg-info">
      <div class="inner">
        <h3>2</h3>

        <p>ADMINS</p>
      </div>
      <div class="icon">
        <i class="fa fa-star"></i>
      </div>
      <a routerLink="/admins" class="small-box-footer">
        SHOW INFO <i class="fas fa-arrow-circle-right"></i>
      </a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-6">
    <!-- small card -->
    <div class="small-box bg-info">
      <div class="inner">
        <h3>0<sup style="font-size: 20px"></sup></h3>

        <p>MEMBERS</p>
      </div>
      <div class="icon">
        <i class="fa fa-users"></i>
      </div>
      <a routerLink="/teammembers" class="small-box-footer">
        SHOW INFO <i class="fas fa-arrow-circle-right"></i>
      </a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-6">
    <!-- small card -->
    <div class="small-box bg-info">
      <div class="inner">
        <h3>4</h3>

        <p>CATEGORIES</p>
      </div>
      <div class="icon">
        <i class="fa fa-tags"></i>
      </div>
      <a routerLink="/categories" class="small-box-footer">
        SHOW INFO <i class="fas fa-arrow-circle-right"></i>
      </a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-6">
    <!-- small card -->
    <div class="small-box bg-info">
      <div class="inner">
        <h3>10</h3>

        <p>DESIGNATIONS</p>
      </div>
      <div class="icon">
        <i class="fa fa-user"></i>
      </div>
      <a routerLink="/designations" class="small-box-footer">
        SHOW INFO <i class="fas fa-arrow-circle-right"></i>
      </a>
    </div>
  </div>
  <!-- ./col -->

<!-- /.row -->

<!-- Small Box (Stat card) -->

  
  <!-- ./col -->


  <div class="col-lg-3 col-6">
   <!-- /.row -->
   <div class="small-box bg-info">
     <div class="inner">
       <h3>0<sup style="font-size: 20px"></sup></h3>
 
       <p>PROJECTS</p>
     </div>
     <div class="icon">
       <i class="fa fa-flag"></i>
     </div>
     <a routerLink="/project" class="small-box-footer">
       SHOW INFO <i class="fas fa-arrow-circle-right"></i>
     </a>
   </div>
</div>
<!-- ./col -->
<div class="col-lg-3 col-6">
 <!-- small card -->
 <div class="small-box bg-info">
   <div class="inner">
     <h3>0</h3>

     <p>PENDING TASKS</p>
   </div>
   <div class="icon">
     <i class="fa fa-info"></i>
   </div>
   <a routerLink="/pending-task" class="small-box-footer">
     SHOW INFO <i class="fas fa-arrow-circle-right"></i>
   </a>
 </div>
</div>
<!-- ./col -->
<!-- ./col -->
<div class="col-lg-3 col-6">
 <!-- small card -->
 <div class="small-box bg-info">
   <div class="inner">
     <h3>0</h3>

     <p>COMPLETED TASKS</p>
   </div>
   <div class="icon">
       
   </div>
   <a routerLink="/tasks" class="small-box-footer">
     SHOW INFO <i class="fas fa-arrow-circle-right"></i>
   </a>
 </div>
</div>
<!-- ./col -->
<!-- ./col -->
<div class="col-lg-3 col-6">
 <!-- small card -->
 <div class="small-box bg-info">
   <div class="inner">
     <h3>0</h3>

     <p>PRODUCTIVITIES</p>
   </div>
   <div class="icon">
     <i class="fa fa-life-ring"></i>
   </div>
   <a routerLink="/productivities" class="small-box-footer">
     SHOW INFO <i class="fas fa-arrow-circle-right"></i>
   </a>
 </div>
</div>
<!-- <h3>Pending Tasks</h3>
<div class="container">
 <div class="d-flex justify-content-end">
   <button class="btn btn-primary rounded-pill">
     <i class="fa fa-plus " aria-hidden="true" >  Create New</i>
   </button>
 </div>
   </div>


<div class="container mt-4">
 <div class="d-flex align-items-center">
    
     <div class="d-flex align-items-center">
       <h6 class="mr-2 mb-0">Show</h6> 
         <input type="number" class="form-control custom-input"  value="5" min="0" step="1" ><h6>entries</h6>
     </div>
      
  
 <div class="Search" >
   <div class="input-group" >
    <h5 class="mr-2 mb-0">Search :</h5>
       <input type="text" class="form-control" placeholder="Search...">
   </div>
 </div>
 </div><br>
 
 <table class="table table-bordered table-muted">
   <thead>
     <tr>
        <th scope="col">#</th>
        <th scope="col"><i class="fas fa-project-diagram"></i> Project</th>
        <th scope="col"><i class="fas fa-tasks"></i> Task</th>
        <th scope="col"><i class="fas fa-hourglass-half"></i> Duration</th>
        <th scope="col"><i class="fas fa-check-circle"></i> Status</th>
        <th scope="col"><i class="far fa-calendar-alt"></i> Date</th>
        <th scope="col"><i class="fas fa-cog"></i> Manage</th>
     </tr>
   </thead>
</table> -->

