<br />
<h1 style="color: rgb(0, 0, 159);">
    <i class="fa fa-check-circle" aria-hidden="true"></i> Pending Tasks
</h1>
<hr style="background-color: rgb(0, 0, 159); height: 2px">

<div class="container">
    <div class="d-flex justify-content-end mb-3">
        <a routerLink="/create-new-task">
            <button class="btn btn-primary rounded-pill">
                <i class="fa fa-plus" aria-hidden="true"></i> Create New
            </button>
        </a>
    </div>

    <table class="table table-bordered table-muted">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col"><i class="fas fa-project-diagram"></i> Project</th>
                <th scope="col"><i class="fas fa-tasks"></i> Task</th>
                <th scope="col"><i class="fas fa-hourglass-half"></i> Duration</th>
                <th scope="col"><i class="fas fa-check-circle"></i> Status</th>
                <th scope="col"><i class="far fa-calendar-alt"></i> Date</th>
               
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tk of pendingTasks">
                <td>{{ tk.id }}</td>
                <td>{{ tk.projectName }}</td>
                <td>{{ tk.taskName }}</td>
                <td>{{ tk.duration }}</td>
                <td>
                    <!-- Check if task is pending and set the badge color accordingly -->
                    <span *ngIf="tk.status === 'Pending'" class="badge bg-warning text-dark">{{ tk.status }}</span>
                    <span *ngIf="tk.status !== 'Pending'" class="badge bg-warning text-dark">{{ tk.status }}</span>
                </td>
                <td>{{ tk.date }}</td>
               
            </tr>
        </tbody>
    </table>
</div>
